[Desktop Entry]
Name[it]=Installa Vanilla OS
Name[fr]=Installeur Vanilla OS
Name[de]=Vanilla OS Installer
Name[hi]=वेनिला OS इंस्टॉलर
Name[pt]=Instalador do Vanilla OS
Name[es]=Instalador de Vanilla OS
Name[pt_BR]=Instalador do Vanilla OS
Name[id]=Installasi Vanilla OS
Name[nl]=Installer van Vanilla OS
Name[tr]=Vanilla OS Yükleyici
Name[sv]=Vanilla OS Installationsprogram
Name[ru]=Установщик Vanilla OS
Name[eo]=Instalilo de Vanilla OS
Name[zh_Hans]=Vanilla OS 安装程序
Name[ja]=Vanilla OS インストーラー
Name[cs]=Instalátor Vanilla OS
Name[uk]=Встановлювач Vanilla OS
Name[hu]=Vanilla OS Telepítő
Name[pl]=Instalator systemu Vanilla OS
Name[zh_Hant]=Vanilla OS 安裝程式
Name[ko]=바닐라 OS 설치 프로그램
Name[vi]=Trình cài đặt hệ điều hành Vanilla
Name[el]=Πρόγραμμα Εγκατάστασης του Vanilla OS
Name[gl]=Instalador Vanilla OS
Name[sk]=Vanilla OS Inštalátor
Name[ro]=Programul de instalare Vanilla OS
Name[th]=ตัวติดตั้ง Vanilla OS
Name[ar]=مُثبِّتُ نِظام فانيلا
Name[bn]=ভ্যানিলা ওএস ইনস্টলার
Name[ca]=Instal·lador de Vanilla OS
Name[lt]=Vanilla OS diegimo programa
Name[ta]=வெண்ணிலா OS நிறுவி
Name[tl]=Vanilla OS Installer
Name[ur]=ونیلا OS انسٹالر
Name[oc]=Installador de Vanilla OS
Name=Vanilla OS Installer
Exec=vanilla-installer
Icon=org.vanillaos.Installer
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
