[Desktop Entry]
Name[it]=Prima Configurazione di Vanilla OS
Name[fr]=Première configuration de Vanilla OS
Name[de]=Vanilla OS Erste Einrichtung
Name[pt]=Primeira configuração do Vanilla OS
Name[es]=Configuración inicial de Vanilla OS
Name[pt_BR]=Configuração Inicial do Vanilla OS
Name[id]=Pengaturan Pertama Vanilla OS
Name[nl]=Configuratie van Vanilla OS
Name[tr]=Vanilla OS İlk Kurulum
Name[sv]=Vanilla OS Första inställningarna
Name[ru]=Первоначальная настройка Vanilla OS
Name[eo]=Unua agordado de Vanilla OS
Name[zh_Hans]=Vanilla OS 初始设置
Name[ja]=Vanilla OS 初期セットアップ
Name[cs]=Prvotní nastavení Vanilla OS
Name[uk]=Перше налаштування Vanilla OS
Name[hu]=Vanilla OS kezdeti beállítások
Name[pl]=Pierwsza konfiguracja Vanilla OS
Name[zh_Hant]=Vanilla OS 初始設定
Name[ko]=바닐라 OS 첫 번째 설정
Name[vi]=Thiết lập ban đầu cho hệ điều hành Vanilla
Name[el]=Αρχικές Ρυθμίσεις του Vanilla OS
Name[gl]=Instalación de Vanilla OS
Name[sk]=Prvé nastavenie Vanilla OS
Name[ro]=Prima pornire Vanilla OS
Name[ms]=Persediaan Pertama Vanilla OS
Name[th]=การตั้งค่า Vanilla OS ครั้งแรก
Name[ar]=الإعداد الأولي لنظام التشغيل فانيلا
Name[bn]=ভ্যানিলা ওএস প্রথম সেটআপ
Name[ca]=Primera configuració de Vanilla OS
Name[ta]=வெண்ணிலா OS முதல் அமைப்பு
Name[ur]=وینیلا OS پہلا سیٹ اپ
Name[oc]=Configuracion iniciala de Vanilla OS
Name=Vanilla OS First Setup
Exec=vanilla-first-setup
Icon=org.vanillaos.FirstSetup
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
